<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container text-center">

<!--<h1 >Tea Time</h1>-->

<header th:replace="fragments :: header"></header>

<div class="container-lg mt-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5 text-center text-md-start">
            <h1>
                <div class="display-2">Tea time</div>
                <div class="display-6 text-muted">"Network is your net worth"</div>
            </h1>
            <p class="lead my-4 text-muted">This app will help you to remember connections you make and people you meet throughout your professional journey. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac ullamcorper ligula. Duis turpis justo, gravida a vulputate non, gravida id ex. Proin turpis orci, varius sit amet varius vel, varius in metus. Sed aliquet sit amet felis eu tempus. Maecenas in ornare odio.  </p>
<!--            <Link to="/product-list" className="btn btn-secondary bt-lg"> See All Products</Link>-->
        </div>
        <div class="col-md-5 text-center">
            <img class="img-fluid mt-5" src="https://res.cloudinary.com/dfyitssyo/image/upload/v1677534542/Strategio/close-up-business-people-sitting-table-drinking-tea-working-laptop_249974-8980_mg6ome.avif" alt="cover" />
        </div>
    </div>
</div>


</body>
</html>